#testimonial-part{
    padding: 100px 0;
    background-image: url(../../../assets/images/tesBg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#testimonial-part .test1{
    width: 100%;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

#testimonial-part .test1 .img-box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    border: 5px solid #bbb8b8;
  
}

#testimonial-part .box{
    width: 70px;
    height: 70px;
    background-color: #FF4800;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
}


#testimonial-part .test1 .img-box img{
    width: 100%;
}






