#banner-part{
   
}

#banner-part .img1{
    background-image: url(../../../assets/images/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 0;
    
}

#banner-part .img2{
    background-image: url(../../../assets/images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 0;
}

#banner-part .img3{
    background-image: url(../../../assets/images/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 0;
}

#banner-part .btn-get{
    display: inline-block;
    padding: 10px 20px;
    transition: .4s;
    
}

#banner-part .btn-get:hover{
    background-color: #03324D;
}



#banner-part .img1:root{
    color: red !important;
}

.swiper-button-prev{
    width: 60px;
    height: 60px;
    color: white;
    background-color: #FF4800;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

#banner-part:hover .swiper-button-prev{
    visibility: visible;
    opacity: 1;
    margin-left: 50px;


}

.swiper-button-prev::after{
    font-size: 20px;
    font-weight: bold;
}

.swiper-button-next{
    width: 60px;
    height: 60px;
    color: white;
    background-color: #FF4800;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

#banner-part:hover .swiper-button-next{
    visibility: visible;
    opacity: 1;
    margin-right: 50px;

}

.swiper-button-next::after{
    font-size: 20px;
    font-weight: bold;
}

