
#about-part{
    padding-top: 70px;
    padding-bottom: 150px;
    background-color: #F8F8F8;
}

#about-part .about-left p{
    position: relative;
}

#about-part .about-left p::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 3px;
    background-color: #FF4800;
    top: 22px;
    left: 0;
}

#about-part .about-right p{
    position: relative;
    padding-left: 10px;
}

#about-part .about-right p::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 150px;
    background-color: #FF4800;
    top: 7px;
    left: -3px;
}

