#contact-part{
   padding: 100px 0;
   background-image: url(../../../assets/images/banner.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   
}

#contact-part .contact-form{
    border-radius: 10px;
}

#contact-part .contact-form h1{
    position: relative;
}

#contact-part .contact-form h1::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 46px;
    background-color: #FF4800;
    top: 39px;
    left: 0;
    border-radius: 5px;
}

#contact-part .contact-form form .name{
    width: 100%;
    padding: 5px 0;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

#contact-part .contact-form .btn-submit{
    display: inline-block;
    padding: 15px 25px;
    background-color: #FF4800;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    transition: .4s;

}

#contact-part .contact-form .btn-submit:hover{
    background-color: #03324D;
    cursor: pointer;
    color: green;
}



#contact-part .contact-details .details-box{
    width: 300px;
    height: 250px;
    background-color: #F3F1F2;
    border-radius: 10px;
    font-size: 100px;
    color: rgba(138, 133, 133, 0.603);
    
}


#contact-part .contact-details .details-box{
    position: relative;
}

#contact-part .contact-details .details-box h1{
    position: absolute;
}

#contact-part .contact-details .details-box h3 {
    position: absolute;
    bottom: 33px;
    left: 50px;
}

#contact-part .contact-details .details-box .line{
    width: 0%;
    height: 10px;
    background-color: #FF4800;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .4s;
}

#contact-part .contact-details .details-box:hover .line{
    width: 100%;
    cursor: pointer;
}

#contact-part .contact-details .details-box .icon{
    transform: scale(1);
    transition: .4s;

}

#contact-part .contact-details .details-box:hover .icon{
    transform: scale(1.4);
}


